In [2]:
import numpy as np
import pandas as pd
import os

In [3]:
Base_Filters = ['u', 'J0378', 'J0395', 'J0410', 'J0430', 'g', 'J0515', 'r', 'J0660', 'i', 'J0861', 'z']
Petro_SPLUS  = [filt+'_petro' for filt in Base_Filters]
Aper6_SPLUS  = [filt+'_aper_6' for filt in Base_Filters]
#continuar

In [12]:
os.getcwd()

'/work/Masters/Pesquisa/Codes'

In [5]:
fields_dir = 'Fields-all_dr3/'
os.chdir(fields_dir)

In [22]:
cols=['ID', 'RA', 'DEC']+Aper6_SPLUS
cols

['ID',
 'RA',
 'DEC',
 'u_aper_6',
 'J0378_aper_6',
 'J0395_aper_6',
 'J0410_aper_6',
 'J0430_aper_6',
 'g_aper_6',
 'J0515_aper_6',
 'r_aper_6',
 'J0660_aper_6',
 'i_aper_6',
 'J0861_aper_6',
 'z_aper_6']

In [23]:
Files = [s for s in os.listdir('.') if s.endswith('.csv')]

DFs = []

for file in Files:
    DFs.append(pd.read_csv(file, usecols=cols))

DF = pd.concat(DFs)

DF.to_csv('Hydra-Aper6.csv', index=False)

In [6]:
t = pd.read_csv('Hydra-Aper6.csv', usecols=['ID', 'RA', 'DEC', 'u_aper_6'])

In [7]:
t

               DEC                       ID          RA   u_aper_6
0       -24.618952    DR3.HYDRA-0015.000000  156.154573  99.000000
1       -24.618774    DR3.HYDRA-0015.000001  156.141346  25.445881
2       -24.618871    DR3.HYDRA-0015.000002  156.170359  99.000000
3       -24.619565    DR3.HYDRA-0015.000003  156.383932  99.000000
4       -24.619099    DR3.HYDRA-0015.000004  156.261943  22.559687
...            ...                      ...         ...        ...
7810832 -23.897076  DR3.SPLUS-n19s01.059890  165.757445  17.065987
7810833 -23.541168  DR3.SPLUS-n19s01.059891  165.631696  20.811310
7810834 -23.890150  DR3.SPLUS-n19s01.059892  164.740244  99.000000
7810835 -23.892725  DR3.SPLUS-n19s01.059893  164.895574  22.756392
7810836 -23.542118  DR3.SPLUS-n19s01.059894  165.603211  20.038910

[7810837 rows x 4 columns]